.contactsList_toggleMobileSearchFieldButton {
  display: none;
}

.contactsList_searchField {
  @include searchField;
}

.contactsList_searchIcon {
  @include searchIcon;
}

.contactsList_openAddUserFormButton {
  @include secondaryMenuButton;
  left: (map-get($layout, 'side-bar-width') + map-get($fonts, 'base-size')) *1px;
  background-image: url('../../../images/add-user-17x23.png');
  background-repeat: no-repeat;
  background-position: +3px -45px;
  &:hover {
    background-position: +3px -8px;
  }
}

.contactsList_container {
  @include itemsList;
}

.contactsList_userAvatar {
  $container-width: 32; //px
  width: $container-width * 1px;
  margin-right: $container-width / 2 * 1px;
  @include elementInlineBlock;

  img {
    width: 100%;
    border-radius: $container-width / 2 * 1px;
  }
}

.contactsList_userName,
.contactsList_userEmail {
  width: 30%;
  @include elementInlineBlock;
}

.contactsList_userEmail {
  font-style: oblique;
}

.contactsList_removeUserButton {
  @include listItemButton;
  background-position: -7px -7px;

  &:hover, &:active {
    background-position: -7px -39px;
  }
}

.contactsList_statusMessageContainer {
  @include statusMessageContainer;
}

@media screen and (max-width: map-get($points, '0')) {
  .contactsList_userName,
  .contactsList_userEmail {
    display: block;
    width: 100%;
  }

  .contactsList_removeMessageButton {
    right: 0;
  }
}

@media screen and (min-width: map-get($points, '-1')) and (max-width: map-get($points, '0')) {
  .contactsList_searchField {
    width: map-get($layout, 'search-field-width') * 0.67px;
    left: map-get($layout, 'side-bar-width') * 0.67px;
  }

  .contactsList_searchIcon {
    left: (map-get($layout, 'side-bar-width') * 0.67 + map-get($layout, 'search-field-width') * 0.67 + map-get($fonts, 'base-size')) * 1px;
  }
}

@media screen and (max-width: map-get($points, '-1')) {
  .contactsList_searchField,
  .contactsList_searchIcon {
    display: none;
  }

  .contactsList_container {
    li {
      background-color: transparent;
    }
    transition: padding-top 200ms;
  }

  .contactsList_toggleMobileSearchFieldButton {
    @include mobileTopNavBarButton;
    right: 0;
  }

  .contactsList_mobileSearchFieldOpened {
    @include mobileSearchFieldOpened;
  }

  .contactsList_container.contactsList_mobileSearchFieldOpened {
    padding-top: map-get($layout, 'search-field-height') * 1px;
    transition: padding-top 200ms;
  }

  .contactsList_openAddUserFormButton {
    @include mobileTopNavBarButton;
    width: 33px;
    left: auto;
    right: 44px;
    padding: 0;
    background-position: -6px -68px;
    transition: none;
    transition: background-color 200ms;
    &:hover {
      background-position: -6px -68px;
    }
    &:active {
      background-position: -6px -106px;
    }
  }

  .contactsList_statusMessageContainer {
    top: 75%;
  }
}
