.login_pageContainer {
  // this container must take all width and height of the visible screen
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
  font-size: 0; // remove whitespace between .login_pageContainer and .login_container
  background-color: map_get($colors, background);

  &:before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: '';
  }
}

.login_container {
  display: inline-block;
  white-space: normal;
  font-size: map-get($fonts, base-size) * 1px;
  vertical-align: middle;
  text-align: left;

  h1 {
    display: block;
    text-align: center;
    font-size: map_get($type-scale, '2') * 1rem;
    padding-bottom: map_get($type-scale, '2') * 1rem;
    color: map_get($colors, accent);
    font-weight: normal;
  }

  h2 {
    display: block;
    text-align: center;
    font-size: map_get($type-scale, '1') * 1rem;
    padding-bottom: map_get($type-scale, '1') *1rem;
    color: map_get($colors, heading-text);
    font-weight: normal;
  }

  .login_form {
    padding: 2rem;
    background-color: map-get($colors, primary);
    border-radius: 2px;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);

    .login_userIcon {
      $icon-width: 72;
      max-width: $icon-width * 1px;
      margin: 0 auto;
      padding-bottom: 2rem;

      img {
        width: 100%;
        height: auto;
        border-radius: $icon-width / 2 * 1px;
      }
    }

    p {
      padding-bottom: map_get($type-scale, '-1') * 1rem;
      &:last-child {
        padding-bottom: 0;
      }

      label {
        display: inline-block;
        width: 4rem;
        font-size: map_get($type-scale, '-1') * 1rem;
        vertical-align: top;
      }

      .login_input {
        width: 13rem;
        height: 2rem;
        font-size: map-get($type-scale, '0') * 1rem;
      }
    }

    .login_submit {
      @include submit;
      width: 100%;
    }

    .login_errorMessage {
      color: map_get($colors, accent);
    }
  }
}

.login_loadingIndicator {
  @include submit;
  width: 100%;
}
