<nav-status></nav-status>

<ul class="messageList_container" ng-if="$ctrl.isMessageListAllowed()">
    <input class="messageList_searchField" type="text" ng-model="searchText" placeholder="Type to search">
    <label class="messageList_searchIcon">&#128269;</label>

    <li ng-repeat="message in $ctrl.messages | orderBy: '-date' | filter:searchText"
        ui-sref="message({id: message.id})"
            >
        <div class="messageList_mailAddress">{{message.email}}</div>
        <div class="messageList_messageSubject">{{message.subject.slice(0, 21)}}</div>
        <div class="messageList_messagePreview">{{message.content.slice(0, 21)}}</div>
        <div class="messageList_messageDate">{{message.date|date:'MMM d'}}</div>
        <button class="messageList_removeMessageButton"
            ng-click="$ctrl.removeMessage(message); $event.stopPropagation()"></button>
    </li>
</ul>

<ui-view></ui-view>


