.layout_topNavBar {
  width: 100%;
  height: map-get($layout, 'top-nav-bar-height') * 1px;
  position: fixed;
  z-index: 1;
  background-color: map-get($colors, 'primary');
  border-bottom: 1px solid map-get($colors, 'border');
}

.layout_sideBar {
  width: map-get($layout, 'side-bar-width') * 1px;
  height: 100%;
  position: fixed;
  top: map-get($layout, 'top-nav-bar-height') * 1px;
  left: 0;
  z-index: 1;
  background-color: map-get($colors, 'background');
}

.layout_mainContent {
  width: 100%;
  padding-top: map-get($layout, 'top-nav-bar-height') * 1px + 10px;
  padding-left: map-get($layout, 'side-bar-width') * 1px + 10px;
  padding-right: 10px;
}
