.logout_logoutButton {
  height: map-get($layout, top-nav-bar-height) * 1px;
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  font-size: map-get($type-scale, '0') * 1rem;
  font-weight: bold;
  background-color: transparent;
  color: map-get($colors, accent-alternative);
  border: none;
  outline: none;
  transition: all 150ms;
  &:hover {
    color: map-get($colors, alternative-text);
    background-color: map-get($colors, accent-alternative);
  }
  &:active {
    color: map-get($colors, alternative-text);
    background-color: mix(white, map-get($colors, accent-alternative));
  }
}

@media screen and (max-width: map-get($points, '-1')) {
  .logout_logoutButton {
    height: auto;
    margin-left: 2rem;
    padding: map-get($type-scale, '-1') * 1rem 0;
    position: static;
    z-index: inherit;
    &:hover, &:active {
      color: map-get($colors, 'accent-alternative');
      background-color: transparent;
    }
  }
}