.shared_navBar {
  ul {
    width: 100%;
    margin-top: map-get($layout, 'compose-button-height') /2 * 1px;
    padding-left: 0;
  }

  li {
    padding: map-get($type-scale, '-1') * 1rem;
    padding-left: map-get($layout, 'content-margin-left') * 1rem;
    list-style-type: none;
    cursor: pointer;
  }

  li:hover {
    background-color: mix(white, map-get($colors, 'primary'), 10%);
  }

  li.active {
    color: map-get($colors, 'accent');
    font-weight: bold
  }
}