.navBar_container {
  ul {
    width: 100%;
    padding-left: 0;
  }

  li {
    padding: map-get($type-scale, '-1') * 1rem;
    padding-left: map-get($layout, 'content-margin-left') * 1rem;
    list-style-type: none;
    cursor: pointer;
  }

  li:hover {
    background-color: mix(white, map-get($colors, 'primary'), 10%);
  }

  li.active {
    color: map-get($colors, 'accent');
    font-weight: bold
  }
}

.navBar_composeButton {
  height: 27px;
  width: 97px;
  margin: map-get($type-scale, '-1') * 1rem 0 map-get($type-scale, '-1') * 1rem 2rem;
  font-size: map-get($type-scale, '-1') * 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.0980392) 0 1px 0;

  color: map-get($colors, 'alternative-text');
  background-color: map-get($colors, 'accent');
  border: 1px solid mix(black, map-get($colors, 'accent'), 5%);
  border-radius: 2px;
  outline: none;

  &:hover {
    background-color: mix(black, map-get($colors, 'accent'), 5%);
    border-color: mix(black, map-get($colors, 'accent'), 10%);
  }

  &:active {
    -webkit-box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.2);
  }
}

// overwrite ngMaterial style
nav-bar {
  &:focus {
    outline: none;
  }
}