.shared_pageMask {
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: black;
  opacity: 0;
  z-index: 3;

  -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
  -moz-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
  -o-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s; /* property, duration, delay */
}

.shared_pageMask.open {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}