<section class="contacts__list" ng-if="!$ctrl.isUserSelected">
    <button class="openAddUserFormButton"
        ng-click="$ctrl.openAddUserForm()">Add contact</button>
    <ul>
        <li ng-repeat="user in $ctrl.contacts" ng-click="$ctrl.showUserCard(user)">
            <div class="userAvatar"><img src={{user.avatarUrl}} alt="Avatar"></div>
            <div class="userName">{{user.fullName}}</div>
            <div class="userEmail"><a href="mailto:{{user.email}}">{{user.email}}</a></div>
            <button class="removeUserButton" ng-click="$ctrl.removeUser(user); $event.stopPropagation();">x</button>
        </li>
    </ul>
</section>

<section class="contacts__userCard" ng-if="$ctrl.isUserSelected">
    <button class="backwardButton" ng-click="$ctrl.backToContacts()">&#8592;</button>
    <button class="contacts__openUserEditFormButton" ng-click="$ctrl.toggleUserEditForm()">Edit</button>

    <h3>{{$ctrl.userCard.fullName}}</h3>
    <table>
        <tbody>
            <tr>
                <td class="label">Date of birth:</td><td>{{$ctrl.userCard.birthdate}}</td>
            </tr>
            <tr>
                <td class="label">Gender</td><td>{{$ctrl.userCard.gender}}</td>
            </tr>
            <tr>
                <td class="label">Address</td><td>{{$ctrl.userCard.address}}</td>
            </tr>
            <tr>
                <td class="label">Email</td><td><a href="mailto:{{$ctrl.userCard.email}}">{{$ctrl.userCard.email}}</a></td>
            </tr>
        </tbody>
    </table>
</section>

<form class="contacts__userEditForm" ng-if="$ctrl.isUserEditFormOpened" name="userEditForm">
    <button class="backwardButton" ng-click="$ctrl.toggleUserEditForm()">&#8592;</button>
    <fieldset>
        <section>
            <label>Full name:</label>
            <input type="text" ng-model="$ctrl.userCard.fullName" name="fullName"
                   ng-change="$ctrl.updateUser($ctrl.userCard)"
                   ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                   required minlength="4" autofocus
                    >
            <div ng-messages="userEditForm['fullName'].$error" ng-if="userEditForm['fullName'].$dirty" role="alert">
                <div ng-message="required">Please, enter a value for this field.</div>
                <div ng-message="minlength">This field can be at at least 4 characters long.</div>
            </div>
        </section>
        <section>
            <label>Date of birth:</label>
            <input type="text" name="birthDate" ng-model="$ctrl.userCard.birthdate"
                   ng-change="$ctrl.updateUser($ctrl.userCard)"
                   ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                   required pattern="\d{4}-\d\d-\d\d"
                    >
            <div ng-messages="userEditForm['birthDate'].$error" ng-if="userEditForm['birthDate'].$dirty" role="alert">
                <div ng-message="required">Please, enter a value for this field.</div>
                <div ng-message="pattern">The date must be in YYYY-MM-DD format</div>
            </div>
        </section>
        <section>
            <label>Gender:</label>
            <input type="radio" name="gender" ng-model="$ctrl.userCard.gender"
                   ng-checked="$ctrl.userCard.gender === 'male'" value="male"
                   ng-change="$ctrl.updateUser($ctrl.userCard)"
                    >male
            <input type="radio" name="gender" ng-model="$ctrl.userCard.gender"
                   ng-checked="$ctrl.userCard.gender === 'female'" value="female"
                   ng-change="$ctrl.updateUser($ctrl.userCard)"
                    >female
        </section>
        <section>
            <label>Address:</label>
            <input type="text" name="address" ng-model="$ctrl.userCard.address"
                   ng-change="$ctrl.updateUser($ctrl.userCard)"
                   ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                   required minlength="10">
            <div ng-messages="userEditForm['address'].$error" ng-if="userEditForm['address'].$dirty" role="alert">
                <div ng-message="required">Please, enter a value for this field.</div>
                <div ng-message="minlength">This field can be at at least 10 characters long.</div>
            </div>
        </section>
        <section>
            <label>Email:</label>
            <input type="email" name="email" ng-model="$ctrl.userCard.email"
                   ng-change="$ctrl.updateUser($ctrl.userCard)"
                   ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                   required>
            <div ng-messages="userEditForm['email'].$error" ng-if="userEditForm['email'].$dirty" role="alert">
                <div ng-message="required">Please, enter a value for this field.</div>
                <div ng-message="email">The value must be a correct email</div>
            </div>
        </section>
    </fieldset>
</form>

<form class="contacts__addUserForm" ng-if="$ctrl.isAddUserFormOpened"
      name="addUserForm" ng-submit="$ctrl.addNewUser(user)">
    <button class="backwardButton" ng-click="$ctrl.backToContacts()">&#8592;</button>
    <fieldset>
        <section>
            <label>Full name:</label>
            <input type="text" name="fullName" ng-model="user.fullName" placeholder="John Smith" autofocus
                    required ng-minlength="4"
                    >
            <div ng-messages="addUserForm['fullName'].$error" ng-if="addUserForm['fullName'].$dirty" role="alert">
                <div ng-message="required">Please, enter a value for this field.</div>
                <div ng-message="minlength">This field can be at at least 4 characters long.</div>
            </div>
        </section>
        <section>
            <label>Date of birth:</label>
            <input type="text" name="birthDate" ng-model="user.birthdate" placeholder="YYYY-MM-DD"
                    required
                    pattern="\d{4}-\d\d-\d\d">
            <div ng-messages="addUserForm['birthDate'].$error" ng-if="addUserForm['birthDate'].$dirty" role="alert">
                <div ng-message="required">Please, enter a value for this field.</div>
                <div ng-message="pattern">The date must be in YYYY-MM-DD format</div>
            </div>
        </section>
        <section>
            <label>Gender:</label>
            <input type="radio" name="gender" ng-model="user.gender" value="male" required>male
            <input type="radio" name="gender" ng-model="user.gender" value="female" required>female
            <div ng-messages="addUserForm['gender'].$error" ng-if="addUserForm['gender'].$dirty" role="alert">
                <div ng-message="required">Please, enter a value for this field.</div>
            </div>
        </section>
        <section>
            <label>Address:</label>
            <input type="text" name="address" ng-model="user.address" placeholder="19, Wall st. New York, USA"
                    required minlength="10">
            <div ng-messages="addUserForm['address'].$error" ng-if="addUserForm['address'].$dirty" role="alert">
                <div ng-message="required">Please, enter a value for this field.</div>
                <div ng-message="minlength">This field can be at at least 10 characters long.</div>
            </div>
        </section>
        <section>
            <label>Email:</label>
            <input type="email" name="email" ng-model="user.email" required>
            <div ng-messages="addUserForm['email'].$error" ng-if="addUserForm['email'].$dirty" role="alert">
                <div ng-message="required">Please, enter a value for this field.</div>
                <div ng-message="email">The value must be a correct email</div>
            </div>
        </section>
    </fieldset>
    <input type="submit" value="Save">
</form>


