<ul class="mailBox__messageList" ng-if="$ctrl.isMailBoxShowed">
    <li ng-repeat="message in $ctrl.mailBoxSelected" ng-click="$ctrl.onShowMessage({message: message})">
        <div class="mailAddress">{{message.email}}</div>
        <div class="messageSubject">{{message.subject}}</div>
        <div class="messagePreview">{{message.content.slice(0, 21) + ' ...'}}</div>
    </li>
</ul>

<section class="mailBox__message" ng-if="!$ctrl.isMailBoxShowed && !$ctrl.isContactsShowed">
    <button class="backwardButton" ng-click="$ctrl.onShowMailBox({mailBox: $ctrl.mailBoxSelected})">&#8592;</button>
    <div class="messageContent">{{$ctrl.messageSelected.content}}</div>
</section>


<contacts class="mailApp__contacts" ng-if="$ctrl.isContactsShowed" on-open-page-mask="$ctrl.onOpenPageMask()"
        on-close-page-mask="$ctrl.onClosePageMask()" on-toggle-page-mask="$ctrl.onTogglePageMask()"></contacts>
