/* =userCard ------------------*/
.contacts__openUserEditFormButton {
    margin-left: 20px;
    padding: 4px 15px;
}

.contacts__userCard h3 {
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border-top: 1px solid lightsteelblue;

}
.contacts__userCard table td {
    padding-bottom: 10px;
}

.contacts__userCard table .label {
    padding-right: 10px;
    color: rgb(70,130,180);
    font-weight: bold;
}
/* end userCard ---------------*/

/* =addUserForm ---------------*/

.contacts__addUserForm input[type=text],
.contacts__addUserForm input[type=email]{
    width: 60%;
}

.contacts__addUserForm input[type=submit] {
    margin-top: 10px;
    margin-left: 85%;
}

/* end addUserForm ------------*/

/* =userEditForm --------------*/
.contacts__userEditForm {
    /*
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 3;
    min-width: 320px;
    padding: 15px;

    background-color: aliceblue;
    border-radius: 5px;
    */
}

.contacts__userEditForm fieldset {
    margin-top: 20px;
}

.contacts__userEditForm section {
    padding-bottom: 15px;
}

.contacts__userEditForm label {
    display: inline-block;
    width: 15%;
    vertical-align: top;
    text-align: right;
    margin-right: 10px;
    color: rgb(70,130,180);
    font-weight: bold;
}

.contacts__userEditForm input[type=text],
.contacts__userEditForm input[type=email]{
    width: 60%;
}

.contacts__userEditForm input[type=submit] {
    margin-top: 10px;
    margin-left: 85%;
}

.contacts__userEditForm div[ng-message=required],
.contacts__userEditForm div[ng-message=minlength],
.contacts__userEditForm div[ng-message=pattern],
.contacts__userEditForm div[ng-message=email] {
    color: red;
    text-align: right;
}
/* end userEditForm -----------*/