html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.2;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol {
  padding-left: 1.4em;
  list-style: decimal;
}

ul {
  padding-left: 1.4em;
  list-style: square;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*include padding and margin within the container*/
}

html {
  font-family: "Arial";
  font-size: 14px;
  color: #222222;
}

.login_pageContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
  font-size: 0;
  background-color: white;
}

.login_pageContainer:before {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  content: '';
}

.login_container {
  display: inline-block;
  white-space: normal;
  font-size: 14px;
  vertical-align: middle;
  text-align: left;
}

.login_container h1 {
  display: block;
  text-align: center;
  font-size: 1.777rem;
  padding-bottom: 1.777rem;
  color: #d14836;
  font-weight: normal;
}

.login_container h2 {
  display: block;
  text-align: center;
  font-size: 1.333rem;
  padding-bottom: 1.333rem;
  color: #555555;
  font-weight: normal;
}

.login_container .login_form {
  padding: 2rem;
  background-color: #f7f7f7;
  border-radius: 2px;
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.login_container .login_form .login_userIcon {
  max-width: 72px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.login_container .login_form .login_userIcon img {
  width: 100%;
  height: auto;
  border-radius: 42px;
}

.login_container .login_form p {
  padding-bottom: 0.75rem;
}

.login_container .login_form p:last-child {
  padding-bottom: 0;
}

.login_container .login_form p label {
  display: inline-block;
  width: 4rem;
  font-size: 0.75rem;
  vertical-align: top;
}

.login_container .login_form p .login_input {
  width: 13rem;
  height: 2rem;
  font-size: 1rem;
}

.login_container .login_form .login_submit {
  padding: 0.75rem;
  padding-left: 0;
  padding-right: 0;
  font-size: 1rem;
  font-weight: normal;
  color: white;
  background-color: #4d90fe;
  border: 1px solid #4d90fe;
  border-radius: 2px;
  width: 100%;
}

.login_container .login_form .login_submit:hover {
  background-color: #4582e5;
  border-color: #4582e5;
}

.login_container .login_form .login_submit:active {
  outline: none;
  background-color: #5f9bfe;
}

.login_container .login_form .login_errorMessage {
  color: #d14836;
}


/*# sourceMappingURL=styles.css.map*/