<nav-status></nav-status>
<button class="compose_backwardButton" ui-sref="message-list({boxId: 'inbox'})">&#8592;</button>

<section class="compose_container">
    <form name="newMessageForm" ng-submit="$ctrl.addNewMessageToSentMail(newMessage)">
        <h3>New message</h3>
        <section>
            <input class="compose_email" type="text" name="email"
                   ng-model="newMessage.email" placeholder="To" autofocus required>
            <div ng-messages="newMessageForm['email'].$error" ng-if="newMessageForm['email'].$dirty" role="alert">
                <div class="compose_errorMessage" ng-message="required">Please, enter a value for this field.</div>
            </div>
        </section>
        <section>
            <input class="compose_subject" type="text" name="subject" ng-model="newMessage.subject"
                   placeholder="Subject" required>
            <div ng-messages="newMessageForm['subject'].$error" ng-if="newMessageForm['subject'].$dirty" role="alert">
                <div class="compose_errorMessage" ng-message="required">Please, enter a value for this field.</div>
            </div>
        </section>
        <section>
            <textarea class="compose_content" name="content" ng-model="newMessage.content"></textarea>
        </section>
        <input class="compose_submit" type="submit" value="Send" ng-disabled="$ctrl.isSubmitEnabled === false">
    </form>
</section>