<nav-status></nav-status>
<button class="compose_backwardButton" ui-sref="message-list({boxId: 'inbox'})">&#8592;</button>

<section class="compose_container">
    <form name="newMessageForm" ng-submit="$ctrl.addNewMessageToSentMail(newMessage)">
        <h3>New message</h3>
        <section>
            <md-autocomplete class="compose_autoCompleteEmail"
                    required
                    md-input-name="email"
                    md-no-cache="true"
                    md-selected-item-change="$ctrl.selectedItemChange(item)"
                    md-search-text-change="$ctrl.searchTextChange($ctrl.searchText)"
                    md-search-text="$ctrl.searchText"
                    md-items="item in $ctrl.querySearch($ctrl.searchText)"
                    md-item-text="item.email"
                    md-min-length="1"
                    placeholder="Start typing to add a recipient"
                    md-menu-class="autocomplete-custom-template">
                <md-item-template>
                    <span md-highlight-text="$ctrl.searchText"
                          md-highlight-flags="^i"
                          class="item-title">{{item.fullName}}</span>
                    <span class="item-metadata compose_autoCompleteItemEmail">{{item.email}}</span>
                </md-item-template>
            </md-autocomplete>
            <div ng-messages="newMessageForm['email'].$error" ng-if="newMessageForm['email'].$dirty">
                <div class="compose_errorMessage" ng-message="required">Please, enter a correct email.</div>
            </div>
        </section>
        <section>
            <input class="compose_subject" type="text" name="subject" ng-model="newMessage.subject"
                   placeholder="Subject" required>
            <div ng-messages="newMessageForm['subject'].$error" ng-if="newMessageForm['subject'].$dirty" role="alert">
                <div class="compose_errorMessage" ng-message="required">Please, enter a value for this field.</div>
            </div>
        </section>
        <section>
            <textarea class="compose_content" name="content" ng-model="newMessage.content"></textarea>
        </section>
        <input class="compose_submit" type="submit" value="Send" ng-disabled="$ctrl.isSubmitEnabled === false">
        <div class="compose_note">
            Note, in this test version there is no real postal server.
            The new message will not be sent to the recipient,
            it will be just stored in the sent mail directory on the server.
        </div>
    </form>
</section>