.compose_backwardButton {
  @include secondaryMenuButton;
  left: (map-get($layout, 'side-bar-width') + 14) *1px;
}

.compose_container {
  max-width: map-get($layout, 'message-width') * 1px;

  h3 {
    font-size: map-get($type-scale, '0') * 1rem;
    font-weight: bold;
    color: map-get($colors, 'alternative-text');
    padding: map-get($type-scale, '-1') * 1rem;
    background-color: mix(black, map-get($colors, 'primary'), 60%);
  }
}

.compose_email,
.compose_subject {
  width: 100%;
  padding: map-get($type-scale, '-1') * 1rem map-get($type-scale, '-3') * 1rem;
  border: none;
  outline: none;
  border-top: 1px solid map-get($colors, 'border');
  border-left: 1px solid map-get($colors, 'border');
  border-right: 1px solid map-get($colors, 'border');
}

.compose_content {
  width: 100%;
  height: 200px;
  padding: map-get($type-scale, '-1') * 1rem map-get($type-scale, '-3') * 1rem;
  outline: none;
  border: 1px solid map-get($colors, 'border');
}

.compose_submit {
  width: 6rem;
  @include submit;
  padding: map-get($type-scale, '-2') * 1rem 0;
  margin-top: map-get($type-scale, '-3') * 1rem;
}

.compose_errorMessage {
  color: map-get($colors, 'accent');
  border-top: 1px solid map-get($colors, 'border');
}