.messageList_searchField {
  @include searchField;
}

.messageList_searchIcon {
  @include searchIcon;
}

.messageList_container {
  padding-left: 0;

  li {
    position: relative;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    list-style-type: none;
    background-color: mix(white, map-get($colors, 'primary'), 50%);
    border-bottom: 1px solid map-get($colors, 'border');

    &:hover {
      background-color: map-get($colors, 'primary');
    }
  }


}