.messageList_searchField {
  @include searchField;
}

.messageList_searchIcon {
  @include searchIcon;
}

.messageList_container {
  @include itemsList;
}

.messageList_mailAddress {
  width: 25%;
  @include elementInlineBlock;
  font-style: oblique;
}

.messageList_messageSubject {
  width: 25%;
  @include elementInlineBlock;
}

.messageList_messagePreview {
  width: 30%;
  @include elementInlineBlock;
  color: map-get($colors, 'secondary-text');
}

.messageList_messageDate {
  position: absolute;
  right: 40px;
  top: 50%;
  margin-top: -8px;
  @include elementInlineBlock;
}

.messageList_removeMessageButton {
  @include listItemButton;
  background-position: -7px -7px;
  &:hover {
     background-position: -7px -39px;
   }
  &:active {
    background-position: -7px -39px;
  }
}

@media screen and (max-width: 600px) {
  .messageList_mailAddress,
  .messageList_messageSubject,
  .messageList_messagePreview {
    display: block;
    width: 100%;
  }

  .messageList_messageDate {
    top: 0;
    right: 0;
    margin-top: 0;
    font-size: map-get($type-scale, '-1') * 1rem;
    color: map-get($colors, 'secondary-text');
  }

  .messageList_removeMessageButton {
    right: 0;
  }
}

