.trashList_searchField {
  @include searchField;
}

.trashList_searchIcon {
  @include searchIcon;
}

.trashList_container {
  @include itemsList;
}

.trashList_boxId_inbox, .trashList_boxId_sent {
  @include elementInlineBlock;
  margin-right: 10px;
  color: map-get($colors, 'accent');
}

.trashList_boxId_sent {
  color: map-get($colors, 'accent-alternative');
}

.trashList_mailAddress {
  width: 25%;
  @include elementInlineBlock;
  font-style: oblique;
}

.trashList_messageSubject {
  width: 25%;
  @include elementInlineBlock;
}

.trashList_messagePreview {
  width: 30%;
  @include elementInlineBlock;
  color: map-get($colors, 'secondary-text');
}

.trashList_messageDate {
  position: absolute;
  right: 36px;
  top: 50%;
  margin-top: -8px;
  @include elementInlineBlock;
}

.trashList_restoreMessageButton {
  @include listItemButton;
}

@media screen and (max-width: 600px) {
  .trashList_mailAddress,
  .trashList_messageSubject,
  .trashList_messagePreview {
    display: block;
    width: 100%;
  }

  .trashList_messageDate {
    top: 0;
    right: 0;
    margin-top: 0;
    font-size: map-get($type-scale, '-1') * 1rem;
    color: map-get($colors, 'secondary-text');
  }

  .trashList_restoreMessageButton {
    right: 0;
  }
}