* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; /*include padding and margin within the container*/
}

body {
  font-family: map-get($fonts, base-family);
  font-size: map-get($fonts, base-size);
  color: map_get($colors, base-text);
}