<section class="layout_rootContainer" ng-class="{pageMaskOpened: $ctrl.isPageMaskOpened()}">
    <page-mask></page-mask>

    <section class="layout_topNavBar">
        <button class="layout_openSideBarButton"
            ng-class="{layout_sideBarClosed: !$ctrl.isSideBarOpened}"
            ng-click="$ctrl.openSideBar()"><img src="../../../images/menu-icon.png" alt="menu"></button>

        <div class="layout_topNavBarLogoutContainer">
            <div class="layout_userAvatar"><img src="../../../images/avatar.jpg" alt="avatar"></div>
            <logout></logout>
        </div>
    </section>

    <section class="layout_secondaryMenu">
        <div class="layout_logo">mailApp</div>
    </section>

    <section class="layout_sideBar" ng-class="{layout_sideBarOpened: $ctrl.isSideBarOpened}"
        ng-click="$ctrl.closeSideBar()">

        <button class="layout_closeSideBarButton" ng-click="$ctrl.closeSideBar()">Close menu</button>
        <nav-bar></nav-bar>
        <div class="layout_sideBarLogoutContainer">
            <logout></logout>
        </div>
    </section>

    <section class="layout_mainContent">
        <ui-view></ui-view>
    </section>
</section>

