<section class="login_pageContainer">
    <div class="login_container">
        <h1>mailApp</h1>
        <h2>Please, sign in</h2>
        <form class="login_form" name="checkUser" ng-submit="$ctrl.checkUser(user)">
            <div class="login_userIcon"><img src="../../../images/user-icon.png" alt="avatar"></div>
            <p>
                <label for="inputEmail">Email</label>
                <input class="login_input" type="email" id="inputEmail" name="email"
                       ng-model="user.email" placeholder="my@email.com" required>
            </p>
            <p>
                <label for="inputPassword">Password</label>
                <input class="login_input" type="password" name="password" ng-model="user.password"
                       id="inputPassword" placeholder="test" required>
            </p>
            <p class="login_errorMessage" ng-if="$ctrl.isInvalidLoginOrPassword">Invalid login or password</p>
            <p ng-if="!$ctrl.isLoadingIndicatorActive">
                <input class="login_submit" type="submit" value="Sign in">
            </p>
            <p ng-if="$ctrl.isLoadingIndicatorActive">
                <button class="login_loadingIndicator">
                    <loading-indicator></loading-indicator>
                </button>
            </p>
        </form>
    </div>

</section>
