<nav-status></nav-status>

<ul class="trashList_container" ng-if="$ctrl.isTrashListAllowed()">
    <input class="trashList_searchField" type="text" ng-model="searchText" placeholder="Type to search">
    <label class="trashList_searchIcon">&#128269;</label>

    <li ng-repeat="message in $ctrl.messages | orderBy: '-date' | filter:searchText"
        ui-sref="trash-details({id: message.id})"
            >
        <div class="trashList_boxId_inbox" ng-if="message.boxId === 'inbox'">&#8659;</div>
        <div class="trashList_boxId_sent" ng-if="message.boxId === 'sent-mail'">&#8657;</div>
        <div class="trashList_mailAddress">{{message.email}}</div>
        <div class="trashList_messageSubject">{{message.subject.slice(0, 21)}}</div>
        <div class="trashList_messagePreview">{{message.content.slice(0, 21)}}</div>
        <div class="trashList_messageDate">{{message.date|date:'MMM d'}}</div>
        <button class="trashList_restoreMessageButton"
            ng-click="$ctrl.restoreMessage(message); $event.stopPropagation()"></button>
    </li>
</ul>

<ui-view></ui-view>