@mixin submit {
  padding: map-get($type-scale, '-1') * 1rem;
  padding-left: 0;
  padding-right: 0;
  font-size: map-get($type-scale, '0') * 1rem;
  font-weight: normal;
  color: map-get($colors, alternative-text);
  background-color: map-get($colors, accent-alternative);
  border: 1px solid map-get($colors, accent-alternative);
  border-radius: 2px;
  outline: none;

  &:hover {
    background-color: mix(black, map-get($colors, accent-alternative), 10%);
    border-color: mix(black, map-get($colors, accent-alternative), 10%);
  }

  &:active {
    background-color: mix(white, map-get($colors, accent-alternative), 10%);
  }
}

@mixin searchField {
  height: map-get($layout, 'search-field-height') * 1px;
  width: map-get($layout, 'search-field-width') *1px;
  position: fixed;
  top: (map-get($layout, 'top-nav-bar-height') - map-get($layout, 'search-field-height')) / 2 * 1px;
  left: (map-get($layout, 'side-bar-width') + map-get($fonts, 'base-size')) * 1px;
  z-index: 1;
}

@mixin searchIcon {
  font-size: (map-get($layout, 'search-field-height') - 4) * 1px;
  position: fixed;
  top: (map-get($layout, 'top-nav-bar-height') - map-get($layout, 'search-field-height')) / 2 * 1px;
  left: (map-get($layout, 'side-bar-width') + map-get($fonts, 'base-size') + map-get($layout, 'search-field-width') + 10) * 1px;
  color: map-get($colors, 'accent-alternative');
  z-index: 1;
}

@mixin itemsList {
  padding-left: 0;

  li {
    position: relative;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    list-style-type: none;
    background-color: map-get($colors, 'primary-light');
    border-bottom: 1px solid map-get($colors, 'border');

    &:hover {
      background-color: map-get($colors, 'primary');
    }
  }
}

@mixin elementInlineBlock {
  display: inline-block;
  vertical-align: middle;
}

@mixin listItemButton {
  $width: 20;
  height: $width * 1px;
  width: $width * 1px;
  position: absolute;
  top: 50%;
  right: $width / 2 * 1px;
  margin-top: (-$width / 2 * 1px);
  padding: 0;
  background: url('../../images/list-buttons-12x12.png') no-repeat;
  border: 1px solid transparent;
  border-radius: $width / 2 * 1px;
  outline: none;
  &:hover {
    background-color: map-get($colors, 'accent-alternative');
  }
  &:active {
    background-color: mix(white, map-get($colors, 'accent-alternative'), 20%);
  }
}

@mixin secondaryMenuButton {
  $button-height: 24; //px
  height: $button-height *1px;
  width: 4rem;
  position: fixed;
  top: (map-get($layout, 'top-nav-bar-height') + map-get($layout, 'secondary-menu-height')/2 - $button-height/2) * 1px;
  z-index: 1;
  padding: 0;
  color: map-get($colors, 'heading-text');
  font-size: map-get($type-scale, '0') * 1rem;
  background-color: map-get($colors, 'primary');
  outline: none;
  border: 1px solid map-get($colors, 'border');
  border-radius: 2px;
  &:hover {
    color: map-get($colors, 'base-text');
    border-color: mix(black, map-get($colors, 'border'), 10%);
  }
  &:active {
    color: map-get($colors, 'accent-alternative');
    border-color: map-get($colors, 'accent-alternative');
  }
}

@mixin mobileSearchFieldOpened {
  display: block;
  top: map-get($layout, 'top-nav-bar-height') * 1px;
  left: 0;
  width: 100%;
}

@mixin mobileTopNavBarButton {
  height: map-get($layout, 'top-nav-bar-height') * 1px;
  display: inline-block;
  position: fixed;
  top: 0;
  z-index: 1;
  padding-left: map-get($type-scale, '-1') * 1rem;
  padding-right: map-get($type-scale, '-1') *1rem;
  font-size: map-get($type-scale, '1') * 1rem;
  color: map-get($colors, 'accent-alternative');
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 200ms;
  &:active {
    background-color: map-get($colors, 'accent-alternative');
    color: map-get($colors, 'alternative-text');
  }
}

@mixin mobileBackwardButton {
  @include mobileTopNavBarButton;
  left: 0;
  z-index: 2;
  background-color: map-get($colors, 'primary');
  border-bottom: 1px solid map-get($colors, 'border');
  &:hover {
    border-bottom: 1px solid map-get($colors, 'border');
  }
}