@mixin submit {
  padding: map-get($type-scale, '-1') * 1rem;
  padding-left: 0;
  padding-right: 0;
  font-size: map-get($type-scale, '0') * 1rem;
  font-weight: normal;
  color: map-get($colors, alternative-text);
  background-color: map-get($colors, accent-alternative);
  border: 1px solid map-get($colors, accent-alternative);
  border-radius: 2px;
  outline: none;

  &:hover {
    background-color: mix(black, map-get($colors, accent-alternative), 10%);
    border-color: mix(black, map-get($colors, accent-alternative), 10%);
  }

  &:active {
    background-color: mix(white, map-get($colors, accent-alternative), 10%);
  }
}

@mixin composeButton {
  color: map-get($colors, 'alternative-text');
  background-color: map-get($colors, 'accent');
  border: 1px solid mix(black, map-get($colors, 'accent'), 5%);
  border-radius: 2px;
  outline: none;

  &:hover {
    background-color: mix(black, map-get($colors, 'accent'), 5%);
    border-color: mix(black, map-get($colors, 'accent'), 10%);
  }

  &:active {
    -webkit-box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.2);
  }
}

@mixin searchField {
  height: map-get($layout, 'search-field-height') * 1px;
  width: map-get($layout, 'search-field-width') *1px;
  position: fixed;
  top: (map-get($layout, 'top-nav-bar-height') - map-get($layout, 'search-field-height')) / 2 * 1px;
  left: (map-get($layout, 'side-bar-width') + 14) * 1px;
  z-index: 2;
}

@mixin searchIcon {
  font-size: (map-get($layout, 'search-field-height') - 4) * 1px;
  position: fixed;
  top: (map-get($layout, 'top-nav-bar-height') - map-get($layout, 'search-field-height')) / 2 * 1px;
  left: (map-get($layout, 'side-bar-width') + 14 + map-get($layout, 'search-field-width') + 10) * 1px;
  color: map-get($colors, 'accent-alternative');
  z-index: 2;
}

@mixin itemsList {
  padding-left: 0;

  li {
    position: relative;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    list-style-type: none;
    background-color: mix(white, map-get($colors, 'primary'), 50%);
    border-bottom: 1px solid map-get($colors, 'border');

    &:hover {
      background-color: map-get($colors, 'primary');
    }
  }
}

@mixin elementInlineBlock {
  display: inline-block;
  vertical-align: middle;
}

@mixin listItemButton {
  $width: 20;
  height: $width * 1px;
  width: $width * 1px;
  position: absolute;
  top: 50%;
  right: $width / 2 * 1px;
  margin-top: (-$width / 2 * 1px);
  padding: 0;
  background: url('../../images/list-buttons-12x12.png') no-repeat;
  border: 1px solid transparent;
  border-radius: $width / 2 * 1px;
  outline: none;
  &:hover {
    background-color: map-get($colors, 'accent-alternative');
  }
  &:active {
    background-color: mix(white, map-get($colors, 'accent-alternative'), 20%);
  }
}

@mixin secondaryMenuButton {
  $button-height: 28; //px
  height: $button-height *1px;
  position: fixed;
  top: (map-get($layout, 'top-nav-bar-height') + map-get($layout, 'secondary-menu-height')/2 - $button-height/2) * 1px;
  z-index: 2;
  padding: 0 1rem;
  font-size: map-get($type-scale, '0') * 1rem;
}