$fonts: (
  'base-family': 'Arial',
  'base-size': 14 //px
);

$type-scale: (    // perfect fourth
  '-3': 0.422,
  '-2': 0.563,
  '-1': 0.75,
  '0': 1,      // base text
  '1': 1.333,
  '2': 1.777,
  '3': 2.369
);

$colors: (
  'primary': rgb(241, 241, 241),
  'primary-light': mix(white, rgb(241, 241, 241), 50%),
  'primary-dark': mix(black, rgb(241, 241, 241), 70%),
  'border': rgb(229, 229, 229), // 209, 209, 209
  'secondary': rgb(265, 165, 0),
  'accent': rgb(221, 75, 57), //  209, 72, 54
  'accent-alternative': rgb(77, 144, 254),
  'background': rgb(255, 255, 255),
  'base-text': rgb(34, 34, 34),
  'heading-text': rgb(85, 85, 85),
  'secondary-text': rgb(102, 102, 102),
  'alternative-text': rgb(255, 255, 255)
);

$layout: (
  'top-nav-bar-height': 48, //px
  'secondary-menu-height': 40, //px
  //'compose-button-height': 27,//px
  'side-bar-width': 200, //px
  'content-margin-left': 2, //rem
  'main-content-padding-left': 14, //px
  'search-field-height': 24, //px
  'search-field-width': 350, //px
  'message-width': 720 //px
);

$points: (
  '-3': 240px,
  '-2': 569px,
  '-1': 667px,
  '0': 767px
)